In [5]:
import pandas as pd

In [6]:
cat_original = pd.read_csv('bgg_categories.csv')
cat_original

          id         categories
0     174430           Economic
1     174430        Negotiation
2     174430          Political
3     174430  Abstract Strategy
4     174430            Ancient
...      ...                ...
9455  257518           Economic
9456  257518        Negotiation
9457  257518          Political
9458  257518       Civilization
9459  257518            Fantasy

[9460 rows x 2 columns]

In [10]:
categories_dropped=cat_original.drop_duplicates()

In [12]:
categories_dropped.to_csv('categories_dropped.csv')

In [13]:
categories_dropped['categories'] = categories_dropped.groupby(['id'])['categories'].transform(lambda x : ','.join(x))

<ipython-input-13-5a4d37c7872e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  categories_dropped['categories'] = categories_dropped.groupby(['id'])['categories'].transform(lambda x : ','.join(x))

In [15]:
categories = categories_dropped.drop_duplicates()
categories

          id                                         categories
0     174430  Economic,Negotiation,Political,Abstract Strate...
8     161936  Economic,Negotiation,Political,Civilization,Na...
21    224517  Card Game,Fantasy,Ancient,Economic,Territory B...
32    167791  Economic,Negotiation,Political,Civilization,Na...
43    291457  Card Game,Fantasy,Exploration,Economic,Negotia...
...      ...                                                ...
9409  204836  Card Game,Fantasy,Ancient,Civilization,Abstrac...
9418  141423  Economic,Negotiation,Political,Ancient,Card Ga...
9430  244049              Card Game,Fantasy,Ancient,Exploration
9436  284818  Card Game,Fantasy,Civilization,Ancient,Economi...
9448  257518  Card Game,Fantasy,Economic,Territory Building,...

[1000 rows x 2 columns]

In [16]:
categories.to_csv('categories_final.csv')